@media screen and (max-width: 1024px) {
  .content {
    grid-template-columns: repeat(16, 6%);
    grid-template-rows: repeat(4, 280px);
    
    &__section {
      &--binary-academy {
        grid-column: 1/8;
        grid-row: 1/3;
      }

      &--js {
        grid-column: 8/14;
        grid-row: 1/3;
      }

      &--php {
        grid-column: 9/17;
        grid-row: 3/4;
      }

      &--qa {
        grid-column: 1/9;
        grid-row: 4/5;
      }

      &--java {
        grid-column: 1/9;
        grid-row: 3/4;
      }

      &--net {
        grid-column: 9/17;
        grid-row: 4/5;
      }

      &--info {
        grid-column: 14/17;
        grid-row: 1/3;
      }
    }
  }
}

@media screen and (max-width: 678px) {

}

@media screen and (max-width: 320px) {

}
