@mixin hoverStyle($content, $background, $color: black, $fontSize: 16px, $vertical: center, $horizontal: center) {
  content: $content;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content:  $horizontal;
  align-items: $vertical;
  width: 100%;
  height: 100%;
  background: $background;
  color: $color;
  font-size: $fontSize;
}
