$pageBgColor: rgb(248, 248, 255);
$binaryAcademyBgColor: white;
$jsSectionBgColor: rgb(243, 189, 98);
$phpSectionBgColor: rgb(125, 136, 182);
$qaSectionBgColor: rgb(76, 181, 110);
$javaSectionBgColor: rgb(217, 40, 69);
$netSectionBgColor: rgb(87, 32, 105);
$eventSectionBgColor: rgb(49, 145, 250);
$blogSectionBgColor: rgb(8, 60, 150);
$contactsSectionBgColor: rgb(2, 33, 82);
$extraLargeFontSize: 64px;
$toastrSuccessBg: rgba(76, 181, 110, 0.8);
$toastrWarningBg: rgba(243, 189, 98, 0.8);
$toastrErrorBg: rgba(217, 40, 69, 0.8);
$notificationIconColor: rgb(128, 128, 128);
$buttonBgColor: rgb(26, 128, 236);
$iconHoverColor: $buttonBgColor;
