@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

//PAGE
.page {
  height: 100vh;
  background: $pageBgColor;
}

//HEADER
.header__container {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 60px;
  width: 100%;
  background: white;
  animation: slide-down-header 1.2s ease-out;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 50px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;

    &__notifications {
      color: $notificationIconColor;

      &:hover {
        cursor: pointer;
        color: lighten($notificationIconColor, 30%);
      }  
    }

    &__avatar {
      border-radius: 50%;
      height: 40px;
    }
  }
}

// MENU
#menuToggle {
  position: relative;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
  user-select: none;

  a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;

    &:hover {
      color: tomato;
    }
  }

  input {
    position: absolute;
    top: 0px;
    left: -5px;
    z-index: 2;
    display: block;
    width: 40px;
    height: 32px;
    -webkit-touch-callout: none;
    cursor: pointer;
    opacity: 0;

    &:checked ~ ul {
      transform: translateY(-20%);
    }
  }
}

#menu {
  position: absolute;
  left: -163px;
  top: 65px;
  width: 200px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform: translateY(-150%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  li {
    padding: 10px 0;
    font-size: 14px;
  }
}

// CONTENT BLOCKS
.content__container {
    margin: 0 auto;
    max-width: 80%;
}

.content {
  display: grid;
  padding: 80px 0 30px;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(8, 80px);
  
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: white;

    &--binary-academy {
      position: relative;
      grid-column: 1/2;
      grid-row: 1/5;

      &::before {
        @include hoverStyle(url("../assets/academy-logo.svg"), $binaryAcademyBgColor);
        display: block;
      }

      &:hover:before {
        display: none;
      }

    }

    &--js {
      position: relative;
      grid-column: 2;
      grid-row: 1/7;

      &::before {
        @include hoverStyle("JS\00a0", $jsSectionBgColor, black, $extraLargeFontSize, flex-end, flex-end);
      }

      &:hover:before {
        animation-name: rotate;
        animation-duration: 2000ms;
        animation-fill-mode: forwards;
      }
    }

    &--php {
      position: relative;
      grid-column: 3/5;
      grid-row: 1/4;

      &::before {
        @include hoverStyle("php", $phpSectionBgColor, black, $extraLargeFontSize);
        font-style: italic;
      }

      &:hover:before {
        animation-name: slideTop;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
      }
    }

    &--qa {
      position: relative;
      grid-column: 1;
      grid-row: 5/9;

      &::before {
        @include hoverStyle("QA", $qaSectionBgColor, white, $extraLargeFontSize);
      }

      &:hover:before {
        animation-name: slide-left;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
      }
    }

    &--java {
      position: relative;
      grid-column: 2;
      grid-row: 7/9;

      &::before {
        @include hoverStyle("Java", $javaSectionBgColor, white);
      }

      &:hover:before {
        animation: slide-up.5s ease-out;
        animation-fill-mode: forwards;
      }
    }

    &--net {
      position: relative;
      grid-column: 3/4.5;
      grid-row: 4/9;

      &::before {
        @include hoverStyle(".NET", $netSectionBgColor, white, $extraLargeFontSize);
      }

      &:hover:before {
        transition: transform 0.6s ease-out;
        transform: scale(0);
        animation-fill-mode: forwards;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      grid-column: 4.5/6;
      grid-row: 4/9;

      &--event {
        padding: 15px;
        height: 40%;

        &::before {
          @include hoverStyle("Event", $eventSectionBgColor, white);
        }

        &:hover:before {
          animation-name: slide-right;
          animation-duration: 500ms;
          animation-fill-mode: forwards;
        }
      }

      &--blog {
        padding: 15px;
        height: 40%;
        overflow: auto;

        &::before {
          @include hoverStyle("Blog", $blogSectionBgColor, white);
        }

        &:hover:before {
          animation-name: slide-up;
          animation-duration: 500ms;
          animation-fill-mode: forwards;
        }

        div {
          height: auto;
        }
      }

      &--contacts {
        padding: 15px;
        height: 20%;

        &::before {
         @include hoverStyle("Contacts", $contactsSectionBgColor, white);
        }

        &:hover:before {
          animation-name: slide-left;
          animation-duration: 700ms;
          animation-fill-mode: forwards;
        }

        i {
          &:hover {
            cursor: pointer;
            color: $iconHoverColor;
          }
        }
      }

      &--event,
      &--blog,
      &--contacts {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__button {
      border: none;
      border-radius: 4px;
      padding: 10px;
      width: 100px;
      height: 40px;
      background: $buttonBgColor;
      color: white;
      text-transform: uppercase;

      &:hover {
        background: darken($buttonBgColor, 20%);
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

//FOOTER
.footer {
  text-align: center;
}

.meme__image {
  width: 100%;
}

// TOASTR
.toastr {
  &__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
  }

  &__message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: white;

    &__text-container {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    &__title {
      font-size: 16px;
      margin: 0;
    }

    &__text {
      font-size: 14px;
      margin: 0;
    }

    &--success {
      background: $toastrSuccessBg;
    }

    &--warning {
      background: $toastrWarningBg;
    }

    &--error {
      background: $toastrErrorBg;
    }
  }
}

// ANIMATION
@keyframes rotate {
  0%{
    opacity: 1;
    transform: rotateY(100deg);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

@keyframes slideTop {
  from {
    height: 100%;
  }

  to { 
    height: 0;
    display: none;
    opacity: 0;
  }
}

@keyframes slide-left {
  from {
    width: 100%;
    overflow: hidden;
  }

  to { 
    width: 0;
    display: none;
    opacity: 0;
  }
}

@keyframes slide-right {
  from {
    width: 0;
  }

  to { 
    width: 100;
    display: none;
    opacity: 0;
  }
}

@keyframes slide-up {
    0% {
      opacity: 1;
      height: 0;;
    }

    100% {
      height: 100;
      display: none;
      opacity: 0;
    }
}

@keyframes slide-down-header {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
}

@import "media-queries";
